<<<<<<< HEAD

<h1> <%= @publisher.name%> <br> </h1>

<h2>

	<% @publisher.games.order(:name).all.each do |g| %>
		<%= g.name %> <br>
	<% end %>

=======
<h1> <%= @publisher.name%> <br></h1>

<h2>
	<%= @publisher.games %>
>>>>>>> 460d15606c69e2dab95a367fdc2b01da4aab8d6e
</h2>