

<h1> <%= @publisher.name%> <br> </h1> 

<h3>

	<% @publisher.games.order(:name).all.each do |g| %>
		<a href='/publishers/<%=@publisher.slug%>/games/<%=g.name.slug%>'> <%= g.name %> <br> 
	<% end %>


</h3>

<ul>
  <li><a href="/">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>