
<h1> <%= @publisher.name%> <br> </h1> 
_____________________________________<br><br>


<div class="row">
	<div class="col-md-"></div>
		 	<% @publisher.games.order(:name).all.each do |g| %>
				<a href='/publishers/<%=@publisher.name.parameterize%>/games/<%=g.name.parameterize%>'> <%= g.name %> <br> 
		</h3>		
	<%end%>
	</div>
</div>

