<h2> hello <%= @user.email%> </h2>



<ul>
  <li><a href="/games/new">Add a game</a></li>
  <li><a href="/games/show">Your Games</a></li>
  <li><a href="/publishers/">View All Publishers</a></li>
</ul>