<% @user = User.find_by(email: session[:email]) %>
<h2> hello <%= @user.email%> </h2>



<ul>
  <li><a href="/mygames">Your Games</a></li>
  <li><a href="/publishers/">View All Publishers</a></li>
</ul>

