<h2> Hello <%= @user.email %> </h2>



<ul>
  <li><a href="/mygames">Your Games</a></li>
  <li><a href="/publishers/">View All Publishers</a></li>
  <li><a href="/lfg">Games With Groups Forming</a></a></a></li>
</ul>

