<h2>People are currently playing these games</h2>

<%list = []%>
<%displayed = []%>
<%UserGame.where(lfg: true).each do |ug|%>
	<%@game = Game.find_by(id: ug.game_id)%>
	<%list << @game %>
	<%if UserGame.where(game_id: @game.id).count <= 1%>
		<%displayed << @game %>
	<% end %>
<% end %>

<% dub = list.select{|element| list.count(element) > 1}%>
<% dub =dub.uniq%>

<%dub.each do |double|%>
	<%displayed << double%>
<% end %>

<%displayed.sort.each do |game|%>
	<%@game = game%>
	<% @publisher = Publisher.find_by(name: @game.publisher_name)%>
	<a href='/publishers/<%=@publisher.slug%>/games/<%=@game.name.parameterize%>'><%=@game.name%></a>
	<br>
<% end %>

