
<% @user = User.find_by(email: session[:email]) %>

<h1> <%= @publisher.name%> <br> </h1> 

<h3> <%= @game.name%> </h3>

<h4> year: <%= @game.year%> </h4>


<h2>add to your list of games</h2>

<button type="button"<% onclick= UserGame.create(user: @user, game: @game, :lfg=>false) %> >Add to MyGames</button>

 <%#flash[:notice] = "Added to your games"%>

<%= button_to "Add to my games", users_path(@user), method: :create %>

<ul>
  <li><a href="/">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul> 