<h1> <%= @publisher.name%> <br> </h1> 

<h3> <%= @game.name%> </h3>

<h4> year: <%= @game.year%> </h4>


<%= button_to 'Add to MyGames', "/mygames", :method => "post", params: {game_id: @game.id} %>

<%#= submit_tag "Add to MyGames2", onclick: AddToMyGames() %>

 <%#flash[:notice] = "Added to your games"%>

<%# button_to "Add to my games",action="/mygames", method: :create%>

<ul>
  <li><a href="/">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul> 
