<h2>hello <%= session[:email]%> these are your projects</h2>
@user = User.find_by(email: session[:email])


<%########################## find by email (session)#################################### %>


<%if @user.games.count == 0 %>
  <h2>You dont currently own any games :(</h2><br>
  
<%else%>
  <h2>These are your games, <%= session[:username]%></h2>
  <% @user.projects.each do |p|%>
    <a href="/games/<%=g.slug%>/show"> <%= p.project_name %> </a> <br>
  <%end%>
<%end%>


<ul>
  <li><a href="/users/index">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>