<h2> here are your games <%= @user.email%> </h2>


<% UserGame.all.each  do |g| %>
	<%@game = Game.find_by(id: g.game_id)%>

	<a href='/user_games/<%=@game.name.parameterize%>/edit' data-method="post"> <%= @game.name %> <br>

<%end%>
<br>

 <li><a href="/">Your Profile</a></li>